@media(max-width:1000px){
    #page-home{
        background-position-x:80vw ;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform:  translateX(-50%);
    }
    #page-home main {
        align-items: center;
        margin-bottom: 50px;
    }
    #page-home main a{
        position: relative;
        margin-top: 20px;
    }
    #page-search-results .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:700px){
    #page-search-results .cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:450px){
    #page-search-results .cards{
        grid-template-columns: 1fr;
    }
}
@media(min-width:1700px){
    #page-home{
        background-position-x:40vw ;
    }
}
@media(max-height:760px){
    #page-home{
        background-position-y:200px ;
    }
}